In [1]:
from sktime.classification.interval_based import TimeSeriesForestClassifier
from sktime.datasets import load_arrow_head
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

In [2]:
X, y = load_arrow_head(return_X_y=True)

In [11]:
X

                                                 dim_0
0    0     -1.9630
1     -1.9578
2     -1.9561
3   ...
1    0     -1.7746
1     -1.7740
2     -1.7766
3   ...
2    0     -1.8660
1     -1.8420
2     -1.8350
3   ...
3    0     -2.0738
1     -2.0733
2     -2.0446
3   ...
4    0     -1.7463
1     -1.7413
2     -1.7227
3   ...
..                                                 ...
170  0     -1.6251
1     -1.6230
2     -1.6261
3   ...
171  0     -1.6578
1     -1.6647
2     -1.6326
3   ...
172  0     -1.6033
1     -1.5874
2     -1.5774
3   ...
173  0     -1.7390
1     -1.7415
2     -1.7329
3   ...
174  0     -1.6307
1     -1.6299
2     -1.6206
3   ...

[211 rows x 1 columns]

In [23]:
X.to_csv("sktime123.csv")
X.loc[1]
# X["dim_0"].loc[0]

                                               dim_0
1  0     -1.7746
1     -1.7740
2     -1.7766
3   ...
1  0     -1.8299
1     -1.8085
2     -1.7958
3   ...

In [5]:
y

0      0
1      1
2      2
3      0
4      1
      ..
170    2
171    2
172    2
173    2
174    2
Length: 211, dtype: object